body {
  background-color: #092215;
  color: #435C5F;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: normal;
}

h1 {
  font-size: 28px;
  color: #3793CB;
  font-weight: bold;
  line-height: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: #435C5F;
  font-size: 20px;
  line-height: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

h3 {
  color: #010101;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #3793CB;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
 color:  #435C5F;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

.container {
  width: 700px;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.card-white {
  background: #f4faf8;
  margin: 20px;
  text-align: center;
  padding: 30px;
}

a.button {
  background-color: #3793CB;
  border: 1px solid white;
  border-radius: 2px;
  box-sizing: border-box;
  color: #f4faf8;
  padding: 8px .8em;
  text-align: center;
  text-decoration: none;
}

a.button:hover {
  background-color: #435C5F;
  box-shadow: none;
}

#social-links {
  font-size: 34px;
  color: #3793CB;
}

#social-links:hover {
  color: #435C5F;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
